<link rel="icon" href="/images/weather.png">
<body>  
    <div class="main-content">
        <h1>{{name}}</h1>
        {{>header}}
        <img src="/images/robot.png" alt="robot-pic">
    </div>    
    
</body>
{{>footer}}