<link rel="icon" href="/images/weather.png">
<body>  
    <div class="main-content">
        <h1>{{name}}</h1>
        {{>header}}
        <p>This website was possible thanks to the <b>darkSky API</b> for weather data and location with <b>MapBox.com</b> for geo coding latitude and longitude</p>
        <p> <cite>Yes i'm a robot dont ask why :)</cite> </p>
        <img src="/images/robot.png" alt="robot-pic">
    </div>    
    
</body>
{{>footer}}