<link rel="icon" href="/images/weather.png">
<body>
    <div class="main-content">
    <h1>{{name}}</h1>    
    {{>header}}
    <p> <b>Use This page to get the weather!!</b> </p>
    <form action="">
        <input type="text" placeholder="Enter Location">
        <button>Search</button>
    </form>
    <p id="message-one"></p>
    <p id="message-two"></p>
    </div>
    <script src="/js/app.js"></script>
</body>

{{>footer}}